.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

.offcanvas {
    max-height: 80%;
    overflow-y: auto;
  }
  
  .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .offcanvas-body {
    padding: 20px;
  }